.profile {
    width: 80%;
    background-color: rgb(226, 225, 225);
  }
  
  
  .profile_zastavka {
    width: 100%;
    height: 330px;
  }

  .down {
    padding: 25px 20px;
  }

  .card {
    display: flex;
  }