.nav {
    width: 20%;
    background-color: rgb(226, 225, 225);
    margin-right: 15px;
  }

.list {
    list-style: none;
    padding: 0 40px;
}
.item + .item {
    margin-top: 10px;
}

.link {
    padding: 5px 15px;
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: all 0.2s;
    font-size: 20px;
    border-radius: 5px;
}

.link:hover {
    background-color: rgb(201, 199, 199);
}

li a.active {
    background-color: rgba(207, 206, 206, 0.774);
    font-weight: 700;
}